#
# Clang-tidy configuration 
# List of checks: https://clang.llvm.org/extra/clang-tidy/checks/list.html
#
# Checks removed:
# 
# -cppcoreguidelines-avoid-const-or-ref-data-members
#   TODO: Reevaluate this check
#   Removed because this caused issues which need to be resolved before re-enabling
#
# -cppcoreguidelines-avoid-magic-numbers
#   Removed because it is too strict
#   This check causes too many false positives, especially when using mathematical formulas
# 
# -misc-include-cleaner
#   TODO: Reevaluate this check
#   This was removed to reduce include dependencies, but it should be re-evaluated
#
# -performance-enum-size
#   Removed because it is too strict
#   This check flags basicly any enum (that is not a byte), which is not desirable

Checks: 
    bugprone-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*,
    misc-*,
    performance-*,
    hicpp-multiway-paths-covered,
    readability-identifier-naming,
    readability-container-size-empty,
    readability-simplify-boolean-expr,
    readability-redundant-member-init,
    readability-redundant-string-init,
    readability-static-accessed-through-instance,
    readability-convert-member-functions-to-static,
    readability-function-cognitive-complexity,
    readability-else-after-return,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-avoid-magic-numbers,
    -misc-include-cleaner,
    -performance-enum-size,

WarningsAsErrors: ''

HeaderFilterRegex: 'include/*.*'

FormatStyle: file

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.PrivateStaticMemberPrefix
    value: s_
  - key: misc-const-correctness.AnalyzeValues
    value: false